nav{
  display: flex;
  justify-content: space-between;
}

nav div{
    padding: 2%;
}

div{
    display:flex;
    justify-content: center;
    margin: 0%;
    padding: 2%;
}

ul{
    list-style: none;
}

section{
    display: flex;
    justify-content: center;
}

section div{

}

input{
    width: 330px;
    height: 30px;
    border-radius: 15px 15px;

}