/*Top of page nav bar*/
nav{
  display: flex;
  justify-content: space-between;
}

nav div{
padding-top:10px;
}

/*text on nav bar*/
ul{
    display: flex;
    list-style:none;
    text-align: right;
}

li{
    padding:10px;
}

/*image*/
div{
    display:flex;
    justify-content:center;
}

/*area containing search bar*/
section{
    display: flex;
    justify-content: center;
}

/*Search Bar*/
input{
    width: 430px;
    height: 30px;
    border-radius: 15px 15px;
}

/* end of page*/
footer{
    display:flex;
    justify-content:flex-start;
    bottom: 0;
    background:rgb(216, 216, 216);
    margin-top:500px;
    border:1px solid black;

}